// 导航栏颜色
.navbar-inner{
    background-color: $main-background-color;
    color: white;
};

// 修复 CUBE-UI 的 toast 无法显示
.cube-toast.cube-popup {
    z-index: 9999 !important;
}

// 修改  mint-cell 的 title 颜色字体
.mint-cell-title{
    color: $main-color-title !important;
}
