$margin_0:0;
.home-assetcheck{
    .tab{
        width: 100%;
        font-size: 0;
        background-color: #fff;
    }
    .tab li{
        width:45%;
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        padding:10px 0;
        font-weight: 400
    }

    .list_cont{
        margin: 0;
    }
    .tab_item{
        color:#666666;
        font-size:0;
        margin-top: 3px;
        background-color: #FFFFF0
    }
    .img_box{
        width:20%;
        height: auto;
    }
    .img_box i{
         font-size:55px;
         color:#999999
    }
    .text_box{
        width:78%;
        font-size:12px
    }
    .text_box .h5{
        font-size:.5rem;
        color:#333333;
        line-height:20px;
    }
    .text_box  .h5 .tab_btn{
        color:#666;
        width:2rem;
        height:17px;
        line-height:15px;
        margin: 3px 5px 0 0;
        font-size:12px;
        font-weight: 400;
        background: none;
        border: 1px solid #d2d2d2;
        border-radius: 2px;
    }
    .text_box_item{
        font-size:12px;
        margin: 0;
    }
    .text_box_item small+small{
        margin-right: 5px
    }
    .add{
        overflow: hidden;
        padding-top:30px;
        background:#FFFFF0
    }
    form{
        height: 100%;
        overflow: hidden
    }
    .form-item{
        width:90%;
        margin: 0 auto 10px;
        font-size: 0;
        color:#666666
    }
    .form-item .label-item{
        font-size: 12px;
        width:30%;
        height: 35px;
        line-height: 35px;
        color:#333333
    }
    .form-item .input-box{
        font-size: 12px;
        width:70%
    }
    .form-item .input-box input{
        display: block;
        width:95%;
        height: 35px;
        line-height: 35px;
        border:1px solid #c2c2c2;
        border-radius:4px;
        text-indent:1em;
    }
    .form-item .input-box .right-text{
        top:25%;
        right:8%;
        z-index:0;
    }
    .form-btn-box{
        width: 100%;
        bottom:0;
    }
    .form-btn-box button{
        font-size:15px;
        height: 40px;
        line-height:40px;
        outline: none;
        border: none;
        background-color: #70D746;
        color: #fff;
        cursor:pointer  
    }
        .tab_show{
            display: block
        }
        .tab_hide{
            display: none
        }
        .active{
            color: #5FB878;
            font-weight: 500;
            border-bottom: 2px solid #5FB878;
        }
}