.conterBox-assetcheck{

     .cont-top{
        width:100%;
        overflow: hidden;
        color: white;
        border-top: 1px solid #fff;
    }
 .cont-top p{
     margin:40px 0 ;
     padding-left: 30px;
     font-size: 15px
 }
 .cont-top p span{
     font-size:1.5rem;
     font-weight:100
 }
 .cont-cont{
     margin:5px 0 0;
     background-color: #fffbf0
 }
 .cont-cont-title{
     padding:2px 15px 2px 0;
     font-size:12px;
     border-bottom: 1px solid #eeeeee;
 }
.cont-cont-icon{
    vertical-align: top;
    width:20%;
}
.cont-cont-icon i{
    font-size:60px;
    color: #c2c2c2
}
.cont-cont-list{
    font-size: 12px;
    vertical-align: top;
    width:78%;
    padding-bottom: 10px;
}
.cont-cont-list li{
    padding:2px 0
}
.cont-cont-list li span{
    width:35%
}
.cont-bottom{
    background-color: #fffbf0;
    margin-top: 10px;
}
.cont-bottom .h6{
    border-bottom: 1px solid #e2e2e2;
    color:#5777d5;
    padding:4px 0 4px 5px;
}
.cont-bottom-text{
    padding: 0 5px;
}
.cont-bottom-text p{
    border-bottom: 1px solid #e2e2e2;
    background-color: #f0fcff;
    margin: 0;
    padding: 3px 5px;
}
.cont-bottom-text button{
    bottom:5%;
    border: none;
    border-radius:5px;
    background-color: #009688;
    color:#ffffff;
    left: 22%;
    outline: none;
    width:25%;
    padding: 5px 0
}
.cont-bottom-text button+button{
    left: 52%;
}
  .danger{
        color:#FF5722
    }
    .succeed{
        color:#5FB878
    }
}