// 导航栏颜色
$main-background-color: #70D746;

// 分割线线颜色
$main-line-color: #E4E4E4;

// 主字体颜色
$main-title-color: #333333;


// 字体颜色
$main-font-title: 18px;

$font-size: 14px;                /****** 14px ******/
$small-font: 12px;           /****** 12px ******/
$tag-font: 5px;           /****** 12px ******/
$font-title: 16px;           /****** 16px ******/
$font-title-18: 18px;           /****** 18px ******/
$img-width: 170px;           /****** 18px ******/
$h3: 18px;                   /****** 18px ******/
$h2: 26px;                   /****** 26px ******/
$h1: 40px;                   /****** 40px ******/
$status-bar-font:19px;
$main-background:#fff;

$base-space:10px;                              /****** 常用变量中没有定义的，page中基于base-space来计算 ******/
$mx-space: 18px;                      /****** 18px ******/
$m-space: $base-space + $base-space / 2px;     /****** 15px ******/
$l-space: $base-space * 2px;            /****** 20px ******/
$base-gap: 40px;                      /****** 40px ******/

$icon-size:24px;              /****** 24px ******/

$nav-height: 44px;            /****** 状态栏20px，导航栏44px ******/
$footbar-height:49px;           /****** 底部标签栏49px ******/
$filter-height: 44px;         /****** 顶部筛选高度44px ******/
$banner-height: 125px;            /****** 首页banner125px ******/
$input-height: 48px;          /****** 输入框高度48px ******/
$btn-height: 44px;          /****** 按钮高度44px ******/

$btn-space:3;




$subject-banner-height: 22rem;
$course-player-height: 229px;

$p-line-height: 1.8;

$line-height-12:12px;                    /****行高12****/
$line-height-17:17px;                    /****行高17****/
$line-height-18:18px;                    /****行高18****/
$line-height-22:22px;                    /****行高22****/

//color
$icon-color-gray:#777;
$icon-color-gray-2:#555;
$icon-color-gray-3:#666;
$icon-color-gray-4:#999;
$icon-color-gray-5:#ccc;
$icon-color-gray-6:#151515;
$icon-color-gray-7:#333;

$input-bg:#f3f3f3;
$input-placeholder:#ccc;

$font-color-gray:#999;
$font-color-black:#333;
$font-color-gray2:#777;
$font-color-gray3:#ccc;
$font-color-gray4:#eee;
$font-color-white:#fff;

$border-color:#ddd;
$border-color2:#ccc;
$border-radius: 3px;

$color-title-type:#7CFC00;          /*题目题型颜色*/
$color-item-background:#F5FFFA;      /*做题背景颜色*/

$color-description:#93999f;
$color-count-red:#F56B6B;

$subject-cover-height:100vw/3*2;

$color-Light-grey:rgba(222, 222, 222, 0.3);

h1,.h1 {
    font-size: $h1;
}

h2,.h2 {
    font-size: $h2;
}

h3,.h3 {
    font-size: $h3;
}

.font-title {
    font-size: $font-title;
}

.small-font,
.tip-font {
    font-size: $small-font;
}
