.common-input-cell{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid $main-line-color;
    background-color: white;
    height: 40px;
    .input-cell-title{
        font-size: $main-font-title;
        border-right: 2px solid $main-line-color;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        width: 26%;
    }
    .comon-input{
        font-size: $main-font-subtitle;
        background-color: $main-color-input;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 74%;
    }
    .picker-placeholder{
        color: #6C6C6C;
    }
    .disabled{
        background-color: $main-color-input-disable;
    }
}
