.common-input-cell{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $main-line-color;
    background-color: white;
    height: 30px;
    .input-cell-title{
        padding-left: 15px;
        background-color: white;
        // height: 30px;
        width: 126px;
        border-right: 1px solid $main-line-color;
        font-size: $main-font-title;
    }
    .comon-input{
        font-size: $main-font-subtitle;
        background-color: $main-color-input;
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }
    .picker-placeholder{
        color: #6C6C6C;
    }
    .disabled{
        background-color: $main-color-input-disable;
    }
}
