.measure-item{
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: 1px solid $main-color-line;
    padding-bottom: 10px;
    .item-content-left{
        font-size: 50px;
        color: $main-background-color;
        //padding-left: 13px;
    }
    .item-content-centern{
        width: 100%;
        padding-left: 15px;
        .item-content-title{
            padding-top: 10px;
        }
        .item-content-subtitle{
            padding-top: 2px;
        }
    }
    .item-content-right{
        font-size: 40px;
        // padding-right: 15px;
    }
}
