.chats-item-content{
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: 1px solid $main-color-line;
    margin-top: 5px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    .chats-content-type{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 12px;
        border: 2px solid $main-background-color;
        color: $main-background-color;
        border-radius: 50%;
        margin-left: 15px;
        height: 50px;
        width: 70px;
        font-size: 16px;
    }
    .chats-content{
        width: 100%;
        margin-left: 10px;
        .chats-content-title{
            font-size: $main-font-title;
        }
        .chats-content-subtitle{
            color: $main-color-subtitle;
            font-size: $main-font-subtitle;
        }
    }
    .chats-content-status {
        text-align: center;
        padding-top: 14px;
        color: #F8C143;
        border: 1px solid #F8C143;
        border-radius: 50%;
        margin-right: 15px;
        height: 45px;
        font-size: 14px;
        width: 70px;
    }
}
