.repair-manager-page{
    .repair-scroll{
        margin-top: -40px;
        margin-bottom: 40px;
        .repair-nav-items{
            display: flex;
            flex-direction: row;
        }
    }
}
