.new-repair-record{
    .content-header{
        margin-top: 15px;
        padding-left: 15px;
        color: $main-color-subtitle;
        font-size: $main-font-subtitle;
        background-color: white;
        border-bottom: 1px solid $main-line-color;
    }
}
