.ready-repair-page{
    .ready-repair-bottom{
        bottom: 0px;
        position: absolute;
        color: white;
        height: 45px;
        background-color: $main-background-color;
        border-color: transparent;
        z-index: 10;
    }
}
