.apply-repair-page{

    .repair-content{
        top: 0px;
        bottom: 45px;

        .content-header{
            padding-left: 15px;
            color: $main-color-subtitle;
            font-size: $main-font-subtitle;
            background-color: white;
            border-bottom: 1px solid $main-line-color;
        }

        .content-top {
            margin-top: 15px;
            background-color: white;

            .contet-top-device-info{
                display: flex;
                flex-direction: row;
                .device-icon {
                    font-size: 80px;
                    color: $main-background-color;
                    margin-left: 15px;
                    margin-right: 15px;
                }
                .top-right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .information-cell-content{
                        .content-name{
                            padding-left: 0px !important;
                        }
                    }
                }
            }
        }

        .content-middle{
            margin-top: 15px;
            background-color: white;
            .content-repair-info{
                padding-left: 15px;
                height: 30px;
                font-size: $main-font-title;
                color: $main-color-title;
            }
            .problem-description{
                border-bottom: 1px solid $main-line-color;
                border-top: 1px solid $main-line-color;
                height: 50px;
            }
        }
        .content-bottom{
            margin-top: 15px;
            .content-selecte-user{
                border-bottom: 1px solid $main-line-color;
                flex: 1;
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 30px;
                .selecte-user-title{
                    padding-left: 15px;
                    background-color: white;
                    width: 126px;
                    border-right: 1px solid $main-line-color;
                    font-size: $main-font-title;

                }
                .selecte-input{
                    width: 100%;
                    padding-left: 15px;
                }
            }

        }
    }

    .ready-repair-bottom{
        bottom: 0px;
        position: fixed;
        margin-bottom: 0px;
        color: white;
        height: 45px;
        background-color: $main-background-color;
        border-color: transparent;
        z-index: 10;
    }
}
