.menu-list-view{
    display: flex;
    flex-direction: row;
    height: 100%;
    .menu-left-list{
        border: 1px solid $main-line-color !important;
        left: 0px;
        top: 0px;
        width: 50%;
        height: 100%;
        margin: 0px;
        li{
            border: 1px solid $main-line-color !important;
            text-align: left;
        }
    }
    .menu-right-list{
        top: 0px;
        right: 0px;
        width: 50%;
        height: 100%;
        border: 1px solid $main-line-color !important;
        li{
            text-align: left;
            font-size: 10px;
            border: 1px solid $main-line-color !important;
        }
    }
}
