.home-item{
    width: 50%;
    height: 65px;
    border-bottom: 1px solid $main-line-color;
    border-right: 1px solid $main-line-color;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    p{
        text-align:center!important;

    }
}
