.home-page{

    .page-content{
        background-color: white;
    }

    .home-page-swiper{
        height: 25%;
        .swiper-wrapper{
            border-bottom: px2rem(2) solid $main-line-color;
        }
        .swiper-images{
            width: 100%;
            height: 100%;
        }
    }


    .home-page-content{
        display: flex;
        flex-wrap: wrap;
        a{
            color: $main-title-color;
        }
    }


}
